|{block:Link}

.brick.item
    .link
        h2
            a(href="{URL}", target="{Target}") {Name}

        |{block:Description}
        |{Description}
        |{/block:Description}

        p
            a(href="{Permalink}") &#9679;

|{/block:Link}