|{block:Photo}

.brick.item
    .photo
        |{LinkOpenTag}
        img(src="{PhotoURL-HighRes}", alt="{PhotoAlt}")
        |{LinkCloseTag}

        |{block:Caption}
        |{Caption}
        |{/block:Caption}

        p
            a(href="{Permalink}").
                {Month} {DayOfMonth} {Year}

|{/block:Photo}
