|{block:Quote}

.brick.item
    .quote
        blockquote {Quote}

        |{block:Source}
        p &mdash; {Source}
        |{/block:Source}

        p
            a(href="{Permalink}") &#9679;

|{/block:Quote}