@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700|Lusitana:400,700);

html, body {
    margin:0;
    padding: 0;
    background: white;
    font-family: Cardo;
}

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: green;
    opacity: 0.5;
}

.hide,
footer,
nav {
    display: none;
}
